
########
# JAVA #
########
*.class

###############
# IDEs Editor #
###############

/.idea/
/.mvn/

###############
# Exit Folder #
###############

/out/
/target/

#########
# OTHER #
#########

*.xml
*.log
*.iml
application.properties