<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EcoPoint</title>

    <link th:href="@{/style/css/header.css}" rel="stylesheet" />
    <link th:href="@{/style/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/style/css/map.css}" rel="stylesheet" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFUW-ukykKzEWyqXevA8MxnXsxgoO9iSY&callback=initMap&libraries=&v=weekly" defer></script>
    <script th:src="@{/style/js/map.js}"></script>
</head>

<header th:include="template/header"></header>
<body>
<p th:text="${message}"></p>
<div>
    <p>ECO'POINT RÉCOMPENSE LES GESTES ÉCOLOGIQUES</p>
</div>
<div>
    <p><strong>ECO’POINT</strong> c’est quoi ?</p>
    <p>Notre but est de sensibiliser au maximum les citoyens d’aujourd’hui en mettant à disposition des bornes de
        collecte connectées afin de recycler les déchets !</p>
    <p>
        Vous êtes de plus en plus nombreux a venir nous rejoindre dans notre démarche éco-responsable qui a pour but de protéger écosystème de notre belle planète.
    </p>
    <p>
        Quelque chiffre a titre informatif, le mois dernier vous avez était plus de x membre à participer à notre sensibilisation et plus de x information on était demandé pour le recyclage des déchets.
    </p>
    <div>
        <button><a href="#">En savoir plus</a></button>
    </div>
</div>
<div th:if="${userAccueilDto != null}">
    <p>Bonjour <span th:text="|${userAccueilDto.getNom()} ${userAccueilDto.getPrenom()}|"></span></p>
    <div>
        <p>Vous avez <span th:text="|${userAccueilDto.getNombreTotalPoint()}|"></span> Points disponibles </p>
        <img src="#" alt="Image">
    </div>
    <p></p>
    <div>
        <button type="button">Afficher mon QRcode</button>
        <button type="button"><a href="#">Détails des points</a></button>
    </div>
</div>
<div>
    <p><strong>Où SE TROUVE LES BORNES COLLECTS ?</strong></p>
</div>

<div id="map"></div>

<div>
    <p><strong>Nos partenaires</strong></p>
    <div>
        <div>
            <img src="#" alt="Image">
        </div>
        <div>
            <img src="" alt="Image">
        </div>
    </div>
</div>
</body>
<footer th:include="template/footer"></footer>
</html>