<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacter Eco'point</title>
</head>
<body>
    <h2>Formulaire de contact</h2>
    <form th:action="@{/contact}" th:object="${contactDto}" method="post">
        <div th:text="${erreurInterne}"></div>
        <div>
            <label for="nom">Nom : *</label>
            <input type="text" name="nom" placeholder="Votre nom" id="nom" th:value="${valeur_nom}" required />
            <div th:text="${erreurNom}"></div>
        </div>
        <div>
            <label for="mail">Mail : *</label>
            <input type="email" name="mail" placeholder="contact@ecopoint.fr" id="mail" th:value="${valeur_mail}" required/>
            <div th:text="${erreurMail}"></div>
        </div>
        <div>
            <label for="objet" >Objet : *</label>
            <input id="objet" name="objet" type="text" placeholder="Votre demande" th:value="${valeur_objet}" required>
        </div>
        <div>
            <label for="message" >Message : *</label>
            <input id="message" name="message" type="text" placeholder="Votre message" th:value="${valeur_message}" required>
        </div>
        <div>
            <input type="submit" value="Envoyer">
        </div>
    </form>
</body>
</html>
