<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion à Eco'point</title>
</head>
<body>
<main>
    <h2>Inscription</h2>
    <form th:action="@{/inscription}" th:object="${userCreateLoginDto}" method="post">
        <div th:if="${erreurDejaExistant}" th:text="${erreurDejaExistant}"></div>
        <div th:if="${erreurInterne}" th:text="${erreurInterne}"></div>
        <div>
            <label for="nom">Nom : *</label>
            <input type="text" name="nom" placeholder="Votre nom" id="nom" th:value="${valeur_nom}" required />
            <div th:if="${erreurNom}" th:text="${erreurNom}"></div>
        </div>
        <div>
            <label for="prenom">Prénom : *</label>
            <input type="text" name="prenom" placeholder="Votre prénom" id="prenom" th:value="${valeur_prenom}" required/>
            <div th:if="${erreurPrenom}" th:text="${erreurPrenom}"></div>
        </div>
        <div>
            <label for="telephone">Téléphone : *</label>
            <input type="tel" name="telephone" placeholder="0601010101" id="telephone" th:value="${valeur_telephone}" required/>
            <div th:if="${erreurTelephone}" th:text="${erreurTelephone}"></div>
        </div>
        <div>
            <label for="adresse">Adresse : *</label>
            <input type="text" name="adresse" placeholder="exemple" id="adresse" th:value="${valeur_adresse}" required/>
            <div th:if="${erreurAdresse}" th:text="${erreurAdresse}"></div>
        </div>
        <div>
            <label for="mail">Mail : *</label>
            <input type="email" name="mail" placeholder="contact@ecopoint.fr" id="mail" th:value="${valeur_mail}" required/>
            <div th:if="${erreurMail}" th:text="${erreurMail}"></div>
        </div>
        <div>
            <label for="motDePasse">Mot de passe : *</label>
            <input type="password" name="motDePasse" placeholder="***********" id="motDePasse" required/>
            <div th:if="${erreurMotDePasse}" th:text="${erreurMotDePasse}"></div>
        </div>
        <div>
            <label for="motDePasse2">Confirmation mot de passe : *</label>
            <input type="password" name="MotDePasse2" placeholder="***********" id="motDePasse2" required/>
            <div th:if="${erreurMotDePasse2}" th:text="${erreurMotDePasse2}"></div>
        </div>
        <div>
            <input type="submit" value="S'inscrire">
        </div>
    </form>
</main>
</body>
</html>