<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription EcoPoint</title>

    <link th:href="@{/style/css/header.css}" rel="stylesheet" />
    <link th:href="@{/style/css/footer.css}" rel="stylesheet" />
</head>
<header th:include="template/header"></header>
<body>
<main>
    <h2>Inscription</h2>
    <form th:action="@{/inscription}" th:object="${userCreateLoginDto}" method="post">
        <div th:text="${erreurInterne}"></div>

        <div>
            <div>
                <label for="nom">Nom : *</label>
                <input type="text" name="nom" placeholder="Votre nom" id="nom" th:value="${valeur_nom}" required />
                <div th:text="${erreurNom}"></div>
            </div>
            <div>
                <label for="prenom">Prénom : *</label>
                <input type="text" name="prenom" placeholder="Votre prénom" id="prenom" th:value="${valeur_prenom}" required/>
                <div th:text="${erreurPrenom}"></div>
            </div>
            <div>
                <label for="pseudo">Pseudo : *</label>
                <input type="text" name="pseudo" placeholder="Votre prénom" id="pseudo" th:value="${valeur_pseudo}" required/>
                <div th:text="${erreurPrenom}"></div>
            </div>
            <div>
                <label for="telephone">Téléphone : *</label>
                <input type="tel" name="telephone" placeholder="0601010101" id="telephone" th:value="${valeur_telephone}" required/>
                <div th:text="${erreurTelephone}"></div>
            </div>
            <div>
                <label>Mail : *
                    <input type="text" name="mail" placeholder="contact@ecopoint.fr" th:value="${valeur_mail}" required/>
                </label>
                <div th:text="${erreurMail}"></div>
            </div>
            <div>
                <label for="motDePasse">Mot de passe : *</label>
                <input type="password" name="motDePasse" placeholder="***********" id="motDePasse" required/>
                <div th:text="${erreurMotDePasse}"></div>
            </div>
            <div>
                <label>Confirmation mot de passe : *
                    <input type="password" name="MotDePasse2" placeholder="***********" required/>
                </label>
                <div th:text="${erreurMotDePasse2}"></div>
            </div>
        </div>
        <div>
            <div>
                <label>Votre adresse :
                    <input type="text" name="rue" placeholder="Votre adresse" th:value="${valeur_rue}"/>
                </label>
                </div>
            <div>
                <label>Votre code postal :
                    <input type="text" name="codePostal" placeholder="Le code postal" th:value="${valeur_code_postal}"/>
                </label>
            </div>
            <div>
                <label>Votre ville :
                    <input type="text" name="ville" placeholder="Votre ville" th:value="${valeur_ville}"/>
                </label>
            </div>
        </div>
        <div>
            <input type="submit" value="S'inscrire">
        </div>
    </form>
</main>
</body>
<footer th:include="template/footer"></footer>
</html>