<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion EcoPoint</title>

    <link th:href="@{/style/css/header.css}" rel="stylesheet" />
    <link th:href="@{/style/css/footer.css}" rel="stylesheet" />
</head>
<header th:include="template/header"></header>
<body>
<main>
    <h2>Connexion</h2>
    <form th:action="@{/seconnecter}" th:object="${userLoginDto}" method="post">
        <div th:text="${erreurInterne}"></div>
        <div th:text="${erreurMauvaisCompte}"></div>
        <div>
            <label>Adresse mail :
                <input type="text" name="mail" placeholder="Adresse mail" required/>
            </label>
        </div>
        <div>
            <label>Mot de passe :
                <input name="motDePasse" type="password" placeholder="Mot de passe" required>
            </label>
        </div>
        <div>
            <a href="#">Mot de passe oublié</a>
        </div>
        <div>
            <button type="submit" id="valide" name="connexion">Connexion</button>
        </div>
    </form>
    <div>
        <p>Vous n'avez pas de compte ?</p>
        <a href="inscription">INSCRIVEZ-VOUS</a>
    </div>
</main>
</body>
<footer th:include="template/footer"></footer>
</html>